# Data Science Ecosystem

## Introduction

In this notebook, the Data Science Tools and Ecosystem are summarized, including some of the essential tools commonly used in the daily work of a Data Scientist.

**Objetives**

* Languages of Data Science
* Libraries of Data Science
* Open-Sources tools for Data Science
* Jupyter Notebook
* Git Hub

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. In Python:
    * Pandas
    * Numpy
    * Matplotlib
2. In R:
    * ggplot2
    * dplyr
    * caret
3. In Julia:
    * DataFrames.jl
    * CSV.jl
    * Flux.jl

| Open-Sources Tools for Data Science Tools |
| ----------------------------------------- |
| MySQL |
| Apache AirFlow |
| Apache Superset |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
(3 * 4) + 5
# simple arithmetic expression to mutiply then add integers.

17

In [4]:
# Convert minute to hours

minutes = 200

minutes_to_hours = minutes / 60

print(minutes_to_hours)

3.3333333333333335

## Author

<a href="www.linkedin.com/in/ariandy-vargas-30b59b186"> Ariandy Vargas</a>